.primary-bg {
  background: linear-gradient(to bottom, #A4CAFF, #3A7BD5, #1A2E55);
}

.secondary-bg {
  background-color: #0088ef;
}

.white-bg {
  background-color: white;
}

.black-bg {
  background-color: #333;
}

.red-bg {
  background-color: #ff5757;
}

.yellow-bg {
  background-color: #ffc542;
}

.green-bg {
  background-color: #3cd458;
}

.blue-bg {
  background-color: #3cd4e4;
}

.grey-bg{
  background-color: rgb(175, 174, 174);
}
.option-bg{
  background-color: rgb(226, 219, 219);
  
}

.primary-text {
  color: #333;
}

.secondary-text {
  color: #0088ef;
}

.white-text {
  color: #ffffff;
}

.black-text {
  color: #333;
}
