.navbar-container{
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
    background-color: #b2cde9;
}

.logo{
    width: 70px;
    height: 65px;
    border-radius: 100%; 
    object-fit: cover;

}
.navbar-profile{
    padding: 10px;
    background-color: #679dd3; 
    border-radius: 30px;
    transition: background-color 0.3s ease;
}
.navbar-profile:hover {
    background-color: #8abeec;
}

.drop-down-menu ul{
    list-style: none;
}
.drop-down-menu{
    background-color: #6ba5e0; 
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 150px;

}

.drop-down-menu li {
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    transition: background-color 0.3s ease;
}
.drop-down-menu li:hover {
    background-color: #8abeec;


}
.logout{
    color: #dc3545;
}
.logout:hover {
    background-color: #6c757d; 
}