.form-container{
    align-items: flex-start;
    width: 20%;
}
h3{
    text-align: left;
    margin-bottom: 20px;
}
.error-text {
    color: red; 
    font-size: 12px; 
    margin-bottom: 10px; 
    text-align: left;
    font-weight: bold; 
}

.input-container input:invalid {
    border-color: red; 
}