.card-container {
    justify-content: space-between;
    width: 70%;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.email {
    flex: 2; 
}

.status-container {
    gap: 8px;
    flex: 1; 
}

.status-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: grey; 
}

.status-indicator.green {
    background-color: green;
}

.status-indicator.red {
    background-color: red;
}

.remove-icon {
    color: red;
    cursor: pointer;
}
