.sidebar{
    padding: 10px;
    width: 25%;
    /* background-color: #f4f4f4;  */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    border-right: 1px solid #ddd;
}
.sidebar h2 {
    padding-bottom: 25px ;
}
.sidebar-list{
    list-style: none;
    gap: 5px;

}
.sidebar-list li {
    padding: 15px ;
    transition: 0.3s ease, color 0.3s ease;
    color: #555;

}
.sidebar-list li:hover{
    background-color: #007BFF; 
    color: #fff;
}